{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "airbnb-base"
    ],
    "env": {
      "node": true,
      "es6": true,
      "browser": true
    },
    "rules": {
      "no-console": "off",
      "semi": ["error", "never"],
      "no-restricted-syntax": "off",
      "comma-dangle": "off",
      "class-methods-use-this": "off",
      "arrow-parens": "off",
      "no-continue": "off",
      "no-else-return": "off",
      "no-return-await": "off",
      "quote-props": "off",
      "import/prefer-default-export": "off"
    },
    "settings": {
        "react": {
            "pragma": "React",
            "fragment": "Fragment",
            "version": "detect",
            "flowVersion": "0.53"
        }
    },
    "ignorePatterns": [
      "mock/*"
    ]
}
